@model EliteSocials.Models.UserViewModel

@{
    ViewData["Title"] = "Profile";

    if (ViewData["ProfileMessage"] == null)
    {
        <h2 class="text-dark">User Profile</h2>

        <label class="text-dark">Full Name:</label>
        <input class="text-dark my-2" type="text" asp-for="fullName" disabled />

        <label class="text-dark">Username:</label>
        <input class="text-dark my-2" type="text" asp-for="username" disabled />

        <label class="text-dark">Email:</label>
        <input class="text-dark my-2" type="text" asp-for="email" disabled />

        <label class="text-dark">Two Factor Authentication:</label>

        @if (Model.isTFAEnabled == "true")
        {
            <input class="text-dark my-2" type="text" value="Enabled" disabled />
        }
        else
        {
            <input class="text-dark my-2" type="text" value="Not enabled" disabled />
        }
        <label class="text-dark">Created At:</label>
        <input class="text-dark my-2" type="text" asp-for="createdAt" disabled />
    }
    else
    {
        <h3 class="text-danger">
            @ViewData["ProfileMessage"]
        </h3>
    }
}
