@{
    ViewData["Title"] = "TFA";

    if (ViewData["TFAMessage"] == null)
    {
        <div class="bg-light vh-100 w-100 flex-center">
            <div class="w-25 bg-dark p-3">

                <h2 class="text-light">
                    OTP for TFA
                </h2>
                <p class="text-light my-3">
                    An OTP for Two Factor Authentication was sent to your email.
                </p>
                <form asp-controller = "EliteSocials" asp-action="TFA" method="post">

                    <input type="text" name="otp" placeholder="Enter OTP here" />

                    <button class="w-100 mt-3" type="submit">Verify</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="bg-light vh-100 w-100 flex-center">
            <h1>
                @ViewData["TFAMessage"]
            </h1>
        </div>
    }
}
