
label, input{
    width: 100%;
}
a, .icon {
    cursor: pointer;
}
.icon{
    font-size: 30px !important;
}
.nav-item{
    font-size: 20px;
    margin: 0 1rem 0;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}