.navbar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
label, input{
    width: 100%;
}
a, .icon {
    cursor: pointer;
}
.icon{
    font-size: 30px !important;
}
.nav-item{
    font-size: 20px;
    margin: 0 1rem 0;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.content-container{
    position: absolute;
    top:0;
    left: 0;
    background-image: url("../EliteSocials/assets/See.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    min-height: 15vh;
    max-width: 20vw;
    padding: 1rem;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 0.5rem;
}